<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        
    </head>

<body>
    <div class="header__user">
        {%if 'username' not in session %}
        <a href="{{url_for('showLogin')}}" class="user__nav">
            Login
            </a>
            {% else %}
            <a href="{{url_for('logout')}}" class="user__nav">
                Logout
                </a>
                {% endif %}
    </div>

    <div class = 'pane'>
        <div class = 'header'>
            <h1>{{ book.name }}</h1>
        </div>

    <a href='{{url_for('newBookItem', book_id = book.id)}}'>ADD NEW BOOK HERE</a></a>

   

    <!-- popup message to show that a new book has been added-->
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                 {% endfor %}
            </ul>
    {% endif %}
    {% endwith %}


    {% for i in items %}

    <div>

        <div class='nameAndPrice'>
            <span class="name"><p>{{i.name}}</p></span>
            
            <span class="price"><p> {{i.price}} </p></span>
        </div>
        <div class="description"><p>{{i.description}}</p></div>       

        <a href='{{url_for('editBookItem', book_id = book.id, item_id = i.id) }}'>Edit</a>

        <br>

        <a href = '{{url_for('deleteBookItem', book_id = book.id, item_id = i.id ) }}'>Delete</a>
        

    </div>


    {% endfor %}
</body>

</html>